.navbar {
    width: 50%;
}
.navbar > ul {
    display: flex;
    justify-content: center;
    margin: 3vh 0vw;
    border: solid 2px rgb(102, 102, 102);
    border-radius: 10px;
    padding: 1vh;

    > {
        :hover{
            background-color: rgb(49, 49, 49);
        }
        
        
    }

}